<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/projeto.css') }}">
    <title>Espetinho do Edir</title>
</head>
<body>
    <header>
        <div class="header-top">
            <div class="logo-title">
                <img src="{{ url_for('static', filename='img/logo.png') }}" alt="Logo Espetinho do Edir">
                <h1>Espetinho do Edir</h1>
            </div>
            
            <div class="header-actions">
                {% if session['nivel_acesso'] == 'admin' %}
                    <a href="{{ url_for('admin.admin_panel') }}" class="btn-admin">Painel Admin 🛠️</a>
                {% endif %}
                
                <a href="{{ url_for('auth.logout') }}" class="btn-logout">Sair 🔒</a>
            </div>
        </div>

        <nav>
            <a href="#vendas">Vender</a>
            <a href="#cozinha">Cozinha</a>
            <a href="#historico">Histórico</a>
            <a href="#caixa">Caixa</a>
        </nav>
    </header>

    <main>
        <div class="rail">
            <section class="vender" id="vendas">
                {% for id, produto in produtos.items() %}
                    {% if produto.estoque > 0 %}
                        <div class="produto-card" data-id="{{ id }}" data-preco="{{ produto.preco }}" data-estoque="{{ produto.estoque }}">
            
                            <h3>{{ produto.nome }}</h3>
            
                            <p class="preco">R$ {{ "%.2f"|format(produto.preco) }}</p>
            
                            <p class="estoque-disponivel">Disponível: {{ produto.estoque }} un</p>
            
                            <div class="botoes-carrinho">
                                <button class="btn-menos">-</button>
                                <span class="qtd-item">0</span>
                                <button class="btn-mais">+</button>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}

                <footer class="barra_informacao">
                
                    <div class="caixa-total">
                        <h2>Total do Pedido:</h2>
                        <h3 id="valor-total">R$ 0,00</h3>
                    </div>

                    <button>Fechar pedido</button>

                </footer>
            </section>
            
            <section class="cozinha" id="cozinha">
                    {% for pedido in pedidos_pendentes_fake %}
                    <div class="validacao_pedidos" data-id="{{ pedido.id }}">
                         Pedido #{{ pedido.id }}
                        {{ pedido.forma_pagamento }}

                        <ul>
                                {% for item in pedido.itens %}
                                <li>
                                    {{ item.quantidade }} x {{ item.nome}}
                                </li>
                                {% endfor %}
                        </ul>
                        <h3>Total: R$ {{ "%.2f"|format(pedido.total) }}</h3>

                        <button class="btn_cancelar">
                            <i class="fas fa-xmark">Cancelar</i>
                        </button>

                        <button class="btn_confirmar">
                            <i class="fas fa-check">Confirmar</i>
                        </button>
                    </div>
                    {% endfor %}
            </section>
            
            <section class="historico" id="historico">
                </section>
            
            <section class="caixa" id="caixa">
                </section>
        </div>
    </main>
    <script src="{{ url_for('static', filename='js/projeto.js') }}"></script>
</body>
</html>