<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/projeto.css">
    <script src="/js/projeto.js"></script>
    <title>Espetinho do Edir</title>
    {% if session['usuario_logado'] == 'admin@brasas.com' %}
    <a href="{{ url_for('admin_panel') }}" class="btn-admin">Painel Admin</a>
{% endif %}

<a href="{{ url_for('logout') }}" class="btn-sair">Sair do Sistema</a>
    <a href="{{ url_for('logout') }}">Sair do Sistema</a>
</head>
<body>
    <header>
        
    </header>
</html>